@{
	ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">

			<div id="connectionId" class="alert alert-primary" role="alert">
			</div>

			<button type="button" class="btn btn-success disabled mx-1 my-1">
				Connected Client Count <span id="span-connected-client-count" class="badge text-bg-secondary"></span>
			</button>

			<button class="btn btn-primary mx-1 my-1" id="btn-send-message-all-client">Tüm clientlara mesaj gonder</button>
			<button class="btn btn-primary mx-1 my-1" id="btn-send-complex-message-all-client">Tüm clientlara mesaj gonder(by complex type)</button>

			<button class="btn btn-primary mx-1 my-1" id="btn-send-message-caller-client">İstek yapan client'a mesaj gonder</button>
			<button class="btn btn-primary mx-1 my-1" id="btn-send-message-others-client">Diğer clientlara mesaj gonder</button>

			<div>
				<hr />
				<input type="text" class="form-control mx-1 my-1" id="text-connectionId" placeholder="connection Id" />
				<button class="btn btn-primary mx-1 my-1" id="btn-send-message-specific-client">belirli bir client'e mesaj gonder</button>
			</div>

			<div>
				<hr />

				<div id="groupList" class="alert alert-warning" role="alert">
				</div>

				<button class="btn btn-primary mx-1 my-1" id="btn-groupA-add">A grubuna katil</button>
				<button class="btn btn-primary mx-1 my-1" id="btn-groupA-remove">A grubundan cik</button>

				<button class="btn btn-primary mx-1 my-1" id="btn-groupB-add">B grubunda katil</button>
				<button class="btn btn-primary mx-1 my-1" id="btn-groupB-remove">B grubundan cik</button>
				
				<button class="btn btn-primary mx-1 my-1" id="btn-groupA-send-message">A grubuna mesaj gonder</button>
				<button class="btn btn-primary mx-1 my-1" id="btn-groupB-send-message">B grubuna mesaj gonder</button>

			</div>

		</div>
	</div>
</div>


@section Scripts
{
	<script src="~/js/signalr-client.js"></script>
}
