@{
	ViewData["Title"] = "Stream";
}

<h1>SignalR Stream</h1>
<input class="form-control" id="txt_stream" type="text" value="irmak;deniz;pinar;su;nehir;" />

<button class="btn btn-primary my-2" id="btn_FromClient_ToHub">Data gonder (by chunk)</button>
<button class="btn btn-primary my-2" id="btn_FromClient_ToHub2">Product gonder (by chunk)</button>

<button class="btn btn-primary my-2" id="btn_FromHub_ToClient">Hub'tan stream olarak datayi al (by chunk)</button>

<div id="streamBox" class="alert alert-info">
	
</div>

@section Scripts
{
	<script src="~/js/signalr-client-stream.js"></script>
}
